<link href='http://fonts.googleapis.com/css?family=Terminal+Dosis+Light&v2' rel='stylesheet' type='text/css'>

div(id="document", data-filter=person._id)

img#subject(src='../'+person.facts.portrait)
form.content(action="/update-profile", method="POST")
  div(class='edit title')
    h3.fname Title, if you have one
    input(type='text', id='title', data-class='facts', class='editable', name='title', value=person.facts.title)

  div(class='edit fname')
    h3.fname First Name
    input(type='text', id='fname', class='editable',  data-class='facts', name='fname', value= person.doc.facts.fname)

  div(class='edit mname')
    h3.fname Middle Name or Initial
    input(type='text', id='mname', data-class='facts', class='editable', name='mname', value=person.doc.facts.mname)

  div(class='edit lname')
    h3.fname Last Name
    input(type='text',id='lname', data-class='facts', class='editable', name='lname', value=person.facts.lname)

  div(class='edit position')
    h3.fname Positon Currently Held
    input(type='text', id='title', data-class='facts', class='editable', name='position', value=person.facts.position)
  div(class='edit website')
    h3.fname Website
    input(type='text', id='title', data-class='facts', class='editable', name='website', value=person.facts.website)
  div(class='edit age')
    h3.fname Age, if you want it displayed
    input(type='text', id='title', data-class='facts', class='editable', name='age', value=person.facts.age)
  div(class='edit contact')
    h3.fname Contact (email or phone)
    input(type='text', id='title', data-class='facts', class='editable', name='contact', value=person.facts.contact)
  div(class='edit location')
    h3.fname Location (city, zip code, or full address)
    input(type='text', id='title', data-class='facts', class='editable', name='location', value=person.facts.location)
  div(class='edit bio')
    h3.fname Bio - Your work, fields of interest, experience, direction, etc
    textarea(id='bio', data-class='facts', class='editable', name='bio')
      !{person.doc.facts.bio}

  input(type="submit", value="update profile")
br
br
br
form(id="MyForm", action="/picload", enctype="multipart/form-data", method="POST")
  input(type="hidden", name="_id", value= person._id)
  input(type="file", name="my_file")
  input(type="submit", value="Upload")
 
script(type='text/javascript', src='js/omegawd.js')