div(id="document", data-filter=person._id)
.content
  div(class='edit fname')
    .label
    h3.fname First Name
    input(type='text',id='fname', data-class='facts', class='editable, name='fname')
      !{person.doc.facts.fname}

  div(class='edit mname')
    .label
    h3.fname Middle Name
    input(type='text', id='mname', data-class='facts', class='editable, name='mname')
      !{person.doc.facts.mname}

  div(class='edit lname')
    .label
    h3.fname Last Name
    input(type='text',id='lname', data-class='facts', class='editable, name='lname')
      !{person.doc.facts.lname}

  div(class='edit title')
    .label
    h3.fname Title / Positon
    input(type='text', id='title', data-class='facts', class='editable, name='title')
      !{person.doc.facts.title}

  div(class='edit bio')
    .label
    h3.fname Bio
    textarea(id='bio', data-class='facts', class='editable, name='bio')
      !{person.doc.facts.bio}

  form(id="MyForm", action="/picload", enctype="multipart/form-data", method="POST")
    input(type="hidden", name="_id", value= person._id)
    input(type="file", name="my_file")
    input(type="submit", value="Upload")
 
script(type='text/javascript', src='js/omegawd.js')